body{
	background: #FFA22C;
	font-family:  Helvetica, Arial, sans-serif;
}

h1,  h2,  h3,  h4,  h5{
	margin: 0;
	padding: 0;
}

h2{
	font-weight: 400;
}

h3{
	color: #4B4B4B;
	font-size: 1.6em;
}

/* DESKTOP ONLY */

@media screen and (min-width: 992px){

}

/* TABLET */
@media screen and (max-width: 992px) {
	
}

/* MOBILE */
@media screen and (max-width: 600px) {
	
}