.search{
	.card{
		.card-image{
			background: black;
			line-height: 0;

			img{
				opacity: 0.5;
			}
		}
	}

	#featured-heading{
		padding: 20px 0;
		max-width: 100%;
	}
}

/* DESKTOP ONLY */

@media screen and (min-width: 992px){

	.search .card .card-content{
		min-height: 200px
	}
}

/* TABLET */
@media screen and (max-width: 992px) {

}

/* MOBILE */
@media screen and (max-width: 600px) {


}